/* =================== */
/* CUSTOM FONT CLASSES */

@font-face {
    font-family: 'Raleway Regular';
    src: url('../Fonts/Raleway/R-Medium.ttf'),
}

@font-face {
    font-family: 'Raleway Thin';
    src: url('../Fonts/Raleway/R-Thin.ttf'),
}

@font-face {
    font-family: 'Raleway Thin Ital';
    src: url('../Fonts/Raleway/R-ThinItalic.ttf'),
}

.RalewayRegular { font-family: 'Raleway Regular', Times, serif; }
.RalewayThin { font-family: 'Raleway Thin', Times, serif; }
.RalewayThinItal { font-family: 'Raleway Thin Ital', Times, serif; }


/* =================== */
/* CUSTOM FONT CLASSES */

body {
    margin: 20px 0;
    font-family: monospace;
}
  
@media (min-width: 900px) {
    .large-menu a {
        color: DarkOrange;
        font-size: 30px;
    }
}

.textPadding {
    padding: 25px;
}

.hyperlinkStyling {
    text-decoration: none;
    color: white;
}

.hyperlinkStyling:hover {
    text-decoration: underline;
    color: #FFD0D1;
}

.navbarTitle {
    font-size: 17px;
}

.name { 
    font-weight: bold;
    font-size: 28px;
    color: white;
}

.bioColor { color: #FFD0D1; }

.jobTitle { 
    font-weight: bold;
    font-size: 15px;
    color: #FF9EA0; 
}

.slightPadding {
    padding-bottom: 13px;
}

.footer {
    position: fixed;
    bottom: 1%;
}

.removeScrollbar {
    overflow-x: hidden;
}

.topPadding {
    padding-top: 40px;
}

.dateColor { 
    color: #858585; 
    font-size: 16px;
}

.headliner { font-size: 20px; }

.excerptColor { 
    color: #616161; 
    font-size: 17px;
}
